<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="msvalidate.01" content="3B20643C62B50931F6395982A6F351CD" />
		<title><%= title %> | Find My District</title>
		<meta name="description" content="Find your representative with just your address! No zipcode+4 needed!">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js"></script>
		<link rel="stylesheet" href="/stylesheets/main.css"/>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-83983423-1', 'auto');
			ga('send', 'pageview');
		</script>
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<script>
		  (adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: "ca-pub-3709902811040374",
			enable_page_level_ads: true
		  });
		</script>
		<script type="text/javascript">
			amzn_assoc_placement = "adunit0";
			amzn_assoc_tracking_id = "findmydistric-20";
			amzn_assoc_ad_mode = "manual";
			amzn_assoc_ad_type = "smart";
			amzn_assoc_marketplace = "amazon";
			amzn_assoc_region = "US";
			amzn_assoc_title = "Further Reading";
			amzn_assoc_linkid = "2b65b5acd96639ed06668c8be0ff0b87";
			amzn_assoc_asins = "1628726725,0143124218,B01GZS3A02,0486414248";
			amzn_assoc_search_bar = "false";
		</script>
		<script src="../js/helpers.js"></script>
		<!--<script src="js/seedrandom.js"></script>-->
	</head>
	
	<body>
		<div id="bodyDiv">
			<div id="header">
				<h1 id="mainHeader"><a href="/">115TH U.S. CONGRESS</a></h1>
				<div id="navbar">
					<form action="/speaker" method="GET"><input type="submit" value="Speaker of the House"/></form>
					<form action="/atlarge" method="GET"><input type="submit" value="At Large Representation"/></form>
					<form action="/committees" method="GET"><input type="submit" value="House Committees"/></form>
					<form action="/about" method="GET"><input type="submit" value="About"/></form>
				</div>
			</div>
			<div id="contentDiv">
				<div id="searchDiv">
					<form action="/search" method="GET">
						<input id="searchButton" type="submit" value="Search"/>
						<div id="addressDiv">
							<input type="text" name="address" placeholder="Enter your address to find your representative...">
						</div>
					</form>
				</div>
