<% include partials/header.ejs %>
		<div class="layout_div">
			<h2>About</h2>
			<p>Hi, my name is Jeremy. I created this website after realizing that it's an annoying multi-step process to find your congressional district and representative using most of the currently available tools. This site uses data from the <a href="http://sunlightfoundation.com/">Sunlight Foundation</a> to find your representative and give you fast, easy methods of contacting them. I hope you find it useful! If you'd like to send me questions, comments or concerns you can shoot me an email at contactfindmydistrict@gmail.com.</p>
		</div>
<% include partials/footer.ejs %>
