<% include partials/header.ejs %>
		<div class="layout_div">
			<h2>About</h2>
			<p>Hi, my name is Jeremy. I created this website after realizing that finding your congressional district or representative is an annoying multi-step process using most of the currently available tools. On top of which, finding any data for a district is almost impossible! This site uses data from the <a href="http://sunlightfoundation.com/">Sunlight Foundation</a> to find your representative and give you fast, easy methods of contacting them, as well as info from the <a href="http://www.census.gov/">US Census</a> and the <a href="http://www.fec.gov/">Federal Election Comission</a> to provide the pretty graphics you see on each district page. I hope you find it useful! If you'd like to send me questions, comments or concerns you can shoot an email to contactfindmydistrict@gmail.com.</p>
		</div>
<% include partials/footer.ejs %>
