<% include partials/header %>
<script src="../js/state.js" defer></script>
<link rel="stylesheet" href="/stylesheets/statepage.css"/>
<div id="stateContainerDiv">
	<p><h2 id="stateTitle"></h2></p>
	<div id="stateCols">
		<div id="stateMapDiv">
			<object id="stateMap" type="image/svg+xml" data="../images/<%= title %>.svg">Your browser doesn't support SVGs :(</object>
		</div>
		<div id="stateInfoDiv">
			<div><span id="repHeaderLabel">Representatives</span></div>
			<div><span id="repNumLabel"></span> <span id="repLabel">Republicans</span></div>
			<div><span id="demNumLabel"></span> <span id="demLabel">Democrats</span></div>
			<hr/>
			<div><span id="popHeaderLabel">Population</span></div>
			<div class="demo_div"><span>Population: </span><span class="commify" id="popLabel"></span></div>
			<div class="demo_div"><span>Workforce: </span><span class="commify" id="workforceLabel"></span></div>
			<div class="demo_div"><span>Voting Age Population: </span><span class="commify" id="votingAgeLabel"></span></div>
			<hr/>
			<div><span id="empHeaderLabel">Employment & Income</span></div>
			<div class="demo_div"><span>Unemployment Rate: </span><span id="unemploymentLabel"></span>%</div>
			<div class="demo_div"><span>Average Income: $</span><span class="commify" id="avgIncomeLabel"></span></div>
		</div>
	</div>
</div>
<% include partials/footer %>
