<% include partials/header %>
<div id="welcomeDiv">
	<link rel="stylesheet" href="/stylesheets/welcome.css"/>
	<h2>U.S. House of Representatives</h2>
	<div id="usMapDiv">
		<span>(Click to see congressional districts for each state)</span>
		<object id="usMap" type="image/svg+xml" data="images/us_state_map.svg">Your browser doesn't support SVGs :(</object>
	</div>
	<div id="repCanvasDiv">
		<canvas id="repCanvas"></canvas>
	</div>
	<div>
		<hr/>
		<h2><span style="color: darkred"><%= republicans %></span> to <span style="color: darkblue"><%= democrats %></span> <span style="font-size:15pt;">The <% if (republicans > democrats) { %> Republican <% } else if (democrats > republicans) { %> Democratic <% } %> Party controls the House by <%= Math.abs(democrats - republicans) %> representatives</span></h2>
		<!--<h2><b><%= ((Date.parse("Nov 8, 2016") - Date.now()) / 1000 / 60 / 60 / 24).toFixed(0) %></b> <span style="font-size:15pt;">days to the next election</span></h2>-->
	</div>
	<script src="js/house.js" defer></script>
	
</div>
<% include partials/footer %>
