#stateMap {
	width: 100%;
	max-height: 500px;
	margin-bottom: 10px;
}

#stateContainerDiv {
	margin-top: 10px;
}

#stateTitle {
	text-align: center;
}

#stateMapDiv {
	margin-right: auto;
	width: 450px;
	float: left;
}

#stateInfoDiv {
	margin-left: 20px;
	width: 350px;
	font-size: 15pt;
	float: left;
}

.demo_div {
	width: auto;
	padding-left: 5px;
}

.demo_div:hover {
	color: white;
	background-color: black;
}

@media (max-width: 728px) {
	#stateMapDiv {
		width: 100%;
	}
}
